* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
img,
picture {
  max-width: 100%;
  display: block;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body{
   background:#27262c;
}

.grids{
   display:grid;
   gap: 1rem;
   /* grid-template-columns: 1fr 1fr 1fr 1fr; */
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.card{
   /* width: 95%; */
   /* margin: 0 auto; */
   padding:2rem 1rem;
   text-align: center;
   background-color: #444049;
   transition: all .2s ease-in-out;
   border-radius: 5px;
   color:aliceblue;
   font-size: 2rem;
   font-family: 'Courier New', Courier, monospace;
}

.card:hover{
   transform : scale(1.05);
}